footer{
	background: #333;
    border-top: 1px solid #3c424c;
    padding: 20px 0px;
    color: #ffffff;
}
.text-center{
	text-align: center;
}
.footer-infor{
	padding-top: 12px;
}
.footer-infor h4{
	font-size: 18px;
	margin-bottom: 15px;
	margin-top: 0;
}
.footer-infor p{
	line-height: 2;
	margin: 0;
}
.footer-infor .copyright{
	color: #999;
	margin-top: 20px;
}
.ewmBox{
	width: 160px;
}
.ewmBox img{ width: 100%;}
.ewmBox p{
	text-align: center;
	line-height: 30px;
	margin: 0;
}
